* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1C1917;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pad-container {
    display: grid;
    grid-template-columns: repeat(4, 100px); 
    grid-template-rows: repeat(2, 100px);    
    gap: 10px;
}

.pad-container > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 3px solid white;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0.1;
    transition: opacity 0.2s, transform 0.2s;
    background-color: transparent;
}

button.on {
    opacity: 1;
    transform: scale(1.05);
}

button:hover {
    transform: scale(1.1);
    opacity: 0.5;
}
